:host {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";

  @mixin center {
    display: flex;
    justify-content: center;
  }

  h1 {
    @include center;
    color: #ff6200;
  }

  .signup {
    @include center;
  }

  .form-group {
    display: flex;
    flex-flow: column wrap;
    background: #4d148c;
    padding: 10px 20px;
    border-radius: 5px;
  }

  input {
    min-width: 200px;
  }

  label {
    display: inline-block;
    min-width: 100px;
    font-weight: bold;
    color: white;
  }

  p {
    padding: 0;
    margin: 5px 0;
  }

  button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .text-danger {
    transform: translateX(100px);
    color: red;
  }
}
